<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404/404.html</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.ArithmeticException</exception-type>
    <location>/error/type/arithmeticException.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error/500/500.html</location>
  </error-page>
  <context-param>
    <param-name>ADMIN</param-name>
    <param-value>brown</param-value>
  </context-param>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/oracleDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>BoardInsertController</display-name>
    <servlet-name>BoardInsertController</servlet-name>
    <servlet-class>kr.or.ddit.board.web.BoardInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BoardInsertController</servlet-name>
    <url-pattern>/BoardInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostListController</display-name>
    <servlet-name>PostListController</servlet-name>
    <servlet-class>kr.or.ddit.post.web.PostListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostListController</servlet-name>
    <url-pattern>/PostListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPostPageController</display-name>
    <servlet-name>NewPostPageController</servlet-name>
    <servlet-class>kr.or.ddit.post.web.NewPostPageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostPageController</servlet-name>
    <url-pattern>/NewPostPageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostReadController</display-name>
    <servlet-name>PostReadController</servlet-name>
    <servlet-class>kr.or.ddit.post.web.PostReadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostReadController</servlet-name>
    <url-pattern>/PostReadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPostReadController</display-name>
    <servlet-name>NewPostReadController</servlet-name>
    <servlet-class>kr.or.ddit.post.web.NewPostReadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostReadController</servlet-name>
    <url-pattern>/NewPostReadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPostController</display-name>
    <servlet-name>NewPostController</servlet-name>
    <servlet-class>kr.or.ddit.post.web.NewPostController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostController</servlet-name>
    <url-pattern>/NewPostController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewPostRead</display-name>
    <servlet-name>NewPostRead</servlet-name>
    <servlet-class>kr.or.ddit.post.web.NewPostReadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewPostRead</servlet-name>
    <url-pattern>/NewPostRead</url-pattern>
  </servlet-mapping>
</web-app>